.tab-navigator{
    .tab-container{
        display:flex;
        gap:10px;
        margin: 10px;
    }
    .tab-item{
        border:2px solid gray;
        border-radius: 5px;
        background-color: lightblue;
        padding: 8px 10px;
        font-size: 1.1rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .tab-item a{
        text-decoration: none;
        color:black;
    }
    .tab-item:hover{
        background-color: aqua;
    }
   
}